<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="Database" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Database.mdf;User Instance=true" providerName="System.Data.SqlClient"/>

    <add name="SamP1_E" connectionString="80.51 83.70 56.44 83.96 74.13 55.41 61.74 71.14 85.51 85.77 57.51 85.97 85.50 68.98 80.00 56.96 66.76 84.05 79.72" providerName="System.Data.SqlClient"/>
    <add name="SamP1_EO" connectionString="6 3 16 11 7 17 14 8 5 19 15 1 2 4 18 13 9 10 12" providerName="System.Data.SqlClient"/>
    
    <add name="SamP1" connectionString="89.99 109.95 117.88 118.41 118.66 136.99 137.88 139 139.06 140.6 141.55 141.82 169.99 169.99 169.99 179.99 199.99 200.99 228.95" providerName="System.Data.SqlClient"/>
    <add name="SamP1O" connectionString="3 7 4 6 5 8 10 2 9 1 16 17 18 11 15 12 19 13 14" providerName="System.Data.SqlClient"/>
    
    <add name="SamP2" connectionString="47.99 49.95 57.29 59.99 68.47 69.29 77.97 79.99 79.99 86.28" providerName="System.Data.SqlClient"/>
    <add name="SamP2O" connectionString="2 4 3 5 6 1 9 7 10 8" providerName="System.Data.SqlClient"/>
    
    <add name="SamP3" connectionString="289.00 348.29 299.99 364.90 349.99 249.99 399.00 399.99 399.99" providerName="System.Data.SqlClient"/>
    <add name="SamP3O" connectionString="2 4 3 6 5 1 7 9 8" providerName="System.Data.SqlClient"/>
    
    <add name="SamP4" connectionString="37.99 38.33 45.55 46.06 47.87 50.63 51.44 53.52 53.95 54.39 54.68 54.7 55.89 57.99 58.48 59.75 60.17 66.5 78 81.37" providerName="System.Data.SqlClient"/>
    <add name="SamP4O" connectionString="3 7 4 6 5 9 8 2 10 1 12 13 11 16 15 19 18 14 17 20" providerName="System.Data.SqlClient"/>
    
    <add name="SamP5" connectionString="349.99 349.99 352.26 399.99 399.99 399.99 402.49 412.85 420 430.3 448.89 451.18 486 487.19 499.99 499.99 499.99 501.27 512.98 514.12 519.99 519.99 554.99 561.57 562.92 567.67 599.15 633.32 647.49" providerName="System.Data.SqlClient"/>
    <add name="SamP5O" connectionString="4 11 5 10 6 9 7 8 12 16 2 14 15 3 13 1 23 26 24 18 22 28 17 19 20 21 27 25 29" providerName="System.Data.SqlClient"/>
    
    <add name="SamP6" connectionString="917.73 1016.68 1020 1064.98 1065.99 1092.21 1099 1099 1099 1099.98 1099.99 1166.92 1167.22 1169.58 1182.82 1191.77 1202.96 1212.14 1227 1259.75 1281.13 1304 1308.44 1333.8 1341.41 1399 1763.61" providerName="System.Data.SqlClient"/>
    <add name="SamP6O" connectionString="4 10 5 9 6 8 7 11 13 2 12 14 3 1 20 24 19 17 18 27 15 23 22 26 25 21 16" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
	<customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>